<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container  my-5">
  <h1 class="d-flex justify-content-center">Download YTS YIFY movies: HD smallest size</h1>
  <p class=" d-flex justify-content-center m-b 10px" >
    Welcome to the official <b>YTS.MX</b> website. Here you can browse and download YIFY movies in excellent </p>
  <p class=" d-flex justify-content-center m-b 10px">720p, 1080p, 2160p 4K and 3D quality, all at the smallest file size. YTS Movies Torrents.
  </p>
  <a class=" d-flex justify-content-center m-b 10px" href="https://yts.mx/blog/yts-mx-is-the-only-new-official-domain-for-yify-movies" title="IMPORTANT - YTS.MX is the only new official domain for YIFY Movies"><b>IMPORTANT - YTS.MX is the only new official domain for YIFY Movies</b></a>

</div>

<div class="row  row-cols-sm-5  d-flex justify-content-center align-items-center g-2">
  <div class="col">
    <div class="card">
      <%= image_tag "/assets/marcin.jpg", class: "card-img-top  ", alt: " " %>
      <div class="overlay">
        <h1 class="title">Batman</h1>
        <a href="#" class="btn btn-primary">view page</a>
      </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Batman</h5>
        <p class="card-text">2023</p>
      </div>

  </div>

  <div class="col">
    <div class="card">
      <%= image_tag "/assets/spiderman1.jpg", class: "card-img-top ", alt:" " %>
      <div class="overlay">
        <h1 class="title">Spiderman1</h1>
        <a href="#" class="btn btn-primary">view page</a>
      </div>
    </div>
      <div class="card-body">
        <h5 class="card-title">Spiderman</h5>
        <p class="card-text">2023</p>
      </div>
  </div>

  <div class="col">
    <div class="card" >
      <%= image_tag "/assets/dedpol.jpg", class: "card-img-top ", alt:"..." %>
      <div class="overlay">
        <h1 class="title ">Batman</h1>
<!--        <a href="#" class="btn ">view page</a>-->
        <button type="button" class="btn btn-primary">view page</button>
      </div>
    </div>
      <div class="card-body">
        <h5 class="card-title">Dedpol</h5>
        <p class="card-text">2023</p>
      </div>
  </div>

  <div class="col">
    <div class="card">
      <%= image_tag "/assets/emmanuel.jpg", class: "card-img-top ", alt:"..."%>
      <div class="overlay">
        <h1 class="title">Batman</h1>
        <a href="#" class="btn btn-primary">view page</a>
      </div>
    </div>
      <div class="card-body">
        <h5 class="card-title">Ironman</h5>
        <p class="card-text">2023</p>
      </div>
    </div>
</div>

</body>
</html>
